langchain
langchain-groq
langchain-community
langgraph
chromadb
tavily-python
trafilatura
streamlit
fpdf
python-dotenv
pydantic
langchain-google-genai
firebase-admin
google-api-python-client
google-auth
google-cloud-logging
